.notes {
  display: flex;
  justify-content: center;
}
.note {
  background-color: white;
  width: 240px;
  border: 1px solid #e0e1e0;
  border-radius: 8px;
  margin: 10px;
}
.note .title-pin {
  width: 100%;
  margin: 15px 0 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-pin .note-title {
  border: none;
  font-size: 1rem;
  color: black;
}
.title-pin .material-icons-outlined {
  font-size: 1rem;
  margin-right: 15px;
}
.note .text {
  width: 100%;
  margin: 15px 0 0 15px;
}
.note-footer {
  display: flex;
  margin: 10px;
  padding: 0%;
  justify-content: center;
}
.note-footer .material-icons-outlined {
  color: #5f6368;
  font-size: 1rem;
}
.note .material-icons {
  position: absolute;
  margin-left: -10px;
  margin-top: -10px;
}
